@import url('https://fonts.googleapis.com/css?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* icon-top */
.icon-top{
    margin-top: 10px;
}

/* Home Page */
header{
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 40px 0px 20px 40px;
    height: 30px;
    margin-bottom: 20px;
}


.logo img{
    width: 4rem;
}


.logo a{
    cursor: pointer;
    font-size: xx-large;
    padding-left:50px;
    
    
}
.nav_links{
    list-style: none;
    text-decoration: none;
    
}

.nav_links li{
    display: inline-block;
    padding: 0 40px;
    margin-top: 15px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color:rgb(12, 91, 156);
    color: black;
}
.nav_links li a:hover{
    color: #222;
    border-bottom:1px solid #0292be;
    z-index: 999;
    position: sticky;
    transition: 0.8s ease ;
    border-radius: 5px;
}
.cta button{
    margin-left: 100px;
    padding: 9px 25px;
    background-color:rgb(21, 165, 170);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: white;
}

.glow-search-btn{
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in infinite alternate;
    -o-transition: all 0.2s ease-in infinite alternate;
    -webkit-transition: all 0.2s ease-in infinite alternate;
    transition: all 0.4s ease-in infinite alternate;
    transition: all 0.2s ease-in;
    color:rgba(0, 255, 255, 0.8);
    background-color: black;
    border: 1px solid cyan;
    text-shadow:0px 0px 14px cyan;
    height: 60px;
    width: 120px;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 10px;
  }
  
  .glow-search-btn:hover {
    color:white;
    background-color: black;
    border: 1px solid cyan;
    text-shadow:0px 0px 14px cyan;
    height: 60px;
    -moz-transition: all 0.2s ease-in infinite alternate;
    -o-transition: all 0.2s ease-in infinite alternate;
    -webkit-transition: all 0.2s ease-in infinite alternate;
    transition: all 0.2s ease-in infinite alternate;
    text-align: center;
  }


.search-button-home{
    background-image: url(./media/img/button\ brush.png);
}
.cta button:hover{
    background-color: transparent;
    border-bottom: 1px solid #0292be;
    border-width: 20%;
    transition: 0.3s ease-in;
    color: #222;
    border-radius: 10%;
}

.active{
    border-bottom: 1px solid #0292be;
    border-width: 0.2%;
    border-radius: 10%;
}

#middle{
    height: 80vh;
    align-items: center;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    font-size: large;
    justify-content: center;
    position: relative;
}
#middle::after{
    background-image: url(./media/img/home_page1st.jpg);
    height: 80vh;
    width: 100%;
    align-items: center;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.5;
}

.search-button-home{
    margin-top: 10px;
    background-color: transparent;
    border: 0.5px solid #295c6a;
    border-radius: 50px;
    width: 40%;
    height: 25%;
    cursor: pointer;
}

.search-button-home:hover{
    background-color: #9ccdd9;
    color: #222;
    font-weight: bold;
    transition: .3s ease;
}

.info{
    width: 50%;
    height: 100px;
    margin-top: 50px;
} 

.info-main{
    display: flex;
    margin-top: 100px;
    box-shadow: 5px 10px 30px grey;
    text-align: center;
    margin: 50px;
    border-radius: 20px;
}

.info-main:hover{
    box-shadow: 10px 10px 60px rgba(15, 15, 15, 0.699);
}

.job-category{

width: 80%;
height: 430px;
margin-top:50px;
margin-left: 150px;
text-align: center;
align-items: center;
font-size: 40px;
transition: 0.4s ease-in;
border-radius: 30px;
}
.job-category:hover{
    box-shadow: 10px 10px 60px rgba(117, 235, 253, 0.144);
    width: 90%;
    margin-left: 120px;
    border-radius: 30px;
    transition: 0.4s ease-in;
}
.middle-text{
    align-items: center;
}
.h1-middle{
    align-items: center;
    text-align: center;
    margin-top: 150px;
}
.category-div{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.category{
    display: flex;
    text-align: center;
    padding-top: 0px;
}

.category a{
    list-style: none;
    text-decoration: none;
    color: black;
    margin:0 20px;
}
.category a:hover{
    color: #015c75;
    margin-left: 10px;
    font-weight: 600;
    transition: 0.2s ease-in;
}
.category li{
    margin: 30px 10px;
    padding: 8px;
    font-size:20px;
}

.fourth-section{
    display: flex;
    padding-left: 100px;
}
.fourth-section img{
    width: 450px;
    height: 300px;
}
.flexible-container{
    display: flex;
    margin-top: 70px;
    margin-right: 150px;
}

.flexible-container img{
    border: none;
    border-radius: 3%;

}
.box-shadow{
    border: 1px solid grey;
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 30px;
    border-radius: 30px;
}
.flexible-container a{
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color:#015c75;
}
.flexible-container a:hover{
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color:#0292be;
}

.flexible-container a:visited{
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color:black;
    
}


.box-shadow:hover{
    box-shadow: 10px 10px 60px rgba(33,33,33,.5);
}
.zoom-effect{
    width: 450px;
    height: 300px;
    object-fit: cover;
    transition: 0.9s;
}
.img-wrapper{
    width: 450px;
    height: 300px;
    border-radius: 3%;
    overflow: hidden;
}
.zoom-effect:hover{
    transform:scale(1.3);
    transition: .9s;
}

/* search jobs page */

.search-container {
    padding: 25px 30px;
}

.search-container .input {
    border: 0;
    outline: none;
    color: #222;
    background-color: rgba(21, 165, 170, 0.603);
}

.search_wrap {
    margin: 48px 850px auto;
}

.search_wrap .search_box {
    position: relative;
    width: 400px;
    height: 60px;
}

.search_wrap .search_box .input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 18px;
}

#sbutton button{
    background-color: transparent;
    color:#015c75;
    border: none;
    padding: 20px;
}

.search_wrap .search_box .btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 100%;
    background: rgb(21, 165, 170);
    z-index: 1;
    cursor: pointer;
}

.search_wrap .search_box .btn:hover {
    background-color: transparent;
    transition: 0.3s ease
}

.search_wrap .search_box .btn.btn_common .fas {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
}

.search_wrap.search_wrap_3 .search_box .input {
    padding-right: 80px;
}

.search_wrap.search_wrap_3 .search_box .input {
    border-radius: 50px;
}

.search_wrap.search_wrap_3 .search_box .btn {
    right: 0px;
    border-radius: 50%;
}
.new-jobs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin:5%;
    margin-bottom: 70px;
} 
.new-jobs a{
    margin-left: 20px;
}

.new-jobs h3{
    text-align: center;
}

.new-jobs-divs span{
    padding-left: 5px;
}

.new-jobs-divs{
    border:1px solid #015c75;
    margin-bottom: 40px;
    padding: 40px;
    border-radius: 30px;    
}
.full-new-jobs-divs{
    width: 100%;
    height: 350px;
    justify-content:space-around;
}

.full-new-jobs-divs :hover{
    cursor: pointer;  
}

.new-jobs-text{
    text-align: center;
    padding-top: 50px;
    font-weight: bold;
}
.filter-section{
    border: 1px solid #2222224b;
    height: 300px;
    width: 60%;
    align-items: center;
    text-align: center;
    margin-left: 20%;
    padding:20px;
    border-radius: 50px;
}
.filter{
    display: flex;
    margin-top: 20px;
}
.filter select{
    padding: 0.9%;
    width: 40%;
}

.filter label{
    color: #222;
}
.filter select{
    border: 1px solid #295c6a;
    font-size: medium;
    margin-left: 10px;
    margin-right: 10px;

}

.glow{
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    color:rgba(0, 255, 255, 0.8);
    background-color: black;
    border: 1px solid cyan;
    text-shadow:0px 0px 14px cyan;
    height: 50px;
    padding-top: 10px;
    -moz-transition: all 0.2s ease-in infinite alternate;
    -o-transition: all 0.2s ease-in infinite alternate;
    -webkit-transition: all 0.2s ease-in infinite alternate;
    transition: all 0.4s ease-in infinite alternate;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 10px;
  }
  
  .glow:hover {
    color:cyan;
    background-color: black;
    border: 1px solid cyan;
    text-shadow:0px 0px 14px cyan;
    height: 50px;
    padding-top: 10px;
    -moz-transition: all 0.2s ease-in infinite alternate;
    -o-transition: all 0.2s ease-in infinite alternate;
    -webkit-transition: all 0.2s ease-in infinite alternate;
    transition: all 0.2s ease-in infinite alternate;
    text-align: center;
    
  }
.filter-section button,
.search-style{
    margin-top: 50px;
    background-color: transparent;
    border: 0.5px solid #295c6a;
    border-radius: 50px;
    width: 25%;
    height: 25%;
    cursor: pointer;
}

.filter-section button:hover,
.search-style:hover{
    background-color: #9ccdd9;
    color: #222;
    font-weight:900;
    transition: .3s ease;
}

.banner{
    display:flex;
    color: white;
    width: 63%;
    background-color: black;
    margin-left: 20%;
}
.banner ul{
    list-style: none;
display: flex;
    padding: 10px 190px;
}

.full-banner{
    background-image:url(./media/img/building\ shadow.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    text-align: center;
    padding-top: 150px;
    margin-right: 50px;
    color: #222;
}

/* pagination */

.pagination {
    display: inline-block;
    border:1px solid #C4C4C4;
    border-radius:5px;
    margin-left: 500px;
    margin-bottom: 50px;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 12px 16px;
    text-decoration: none;
  }
  
  .pagination a.active {
    color:#015c75;
    border-radius: 5px;
  }
  
  .pagination a:hover:not(.active) {
    background-color:#015c75;
    border-radius: 5px;
    color:#fff;
  }
  

/* Prepare page */

.glow-btn-preapare{
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    color:rgba(0, 255, 255, 0.8);
    background-color: black;
    border: 1px solid cyan;
    text-shadow:0px 0px 14px cyan;
    height: 50px;
    
    -moz-transition: all 0.2s ease-in infinite alternate;
    -o-transition: all 0.2s ease-in infinite alternate;
    -webkit-transition: all 0.2s ease-in infinite alternate;
    transition: all 0.4s ease-in infinite alternate;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 10px;
  }
  
  .glow-btn-preapare:hover {
    color:cyan;
    background-color: black;
    border: 1px solid cyan;
    text-shadow:0px 0px 14px cyan;
    height: 50px;
    -moz-transition: all 0.2s ease-in infinite alternate;
    -o-transition: all 0.2s ease-in infinite alternate;
    -webkit-transition: all 0.2s ease-in infinite alternate;
    transition: all 0.2s ease-in infinite alternate;
    text-align: center;
    
  }


.head-title h1{
    margin-top: 40px;
    margin-bottom: 40px;
}

.glow-heading{
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    color:rgba(0, 255, 255, 0.8);
    background-color: black;
    
    text-shadow:0px 0px 14px cyan;
    height: 60px;
    padding-top: 5px;
    -moz-transition: all 0.2s ease-in infinite alternate;
    -o-transition: all 0.2s ease-in infinite alternate;
    -webkit-transition: all 0.2s ease-in infinite alternate;
    transition: all 0.4s ease-in infinite alternate;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 10px;
  }
  
  .glow-heading:hover {
    color:cyan;
    background-color: black;
    
    text-shadow:0px 0px 14px cyan;
    height: 60px;
    padding-top: 5px;
    -moz-transition: all 0.2s ease-in infinite alternate;
    -o-transition: all 0.2s ease-in infinite alternate;
    -webkit-transition: all 0.2s ease-in infinite alternate;
    transition: all 0.2s ease-in infinite alternate;
    text-align: center;
    
  }
.prepare-div{
    width: 80%;
    height: 400px;
    display: flex;
    margin-left: 150px;
    margin-top: 20px;
    padding-top: 10px;
    margin-bottom: 60px;
}
.prepare-div:hover{
    box-shadow: 0 10px 10px rgba(8, 8, 8, 0.5);
}
.prepare-div iframe{
    width: 200%;
    height: 100%;   
}

.half-text{
    margin-left: 300px;
}

.half-video{
    width: 80%;
}
/* Log in page */
.login{
    display: flex;
}

.half-logo{
    margin: 50px;
    padding-top: 30px;
    padding-left: 150px;
}

.half-logo img{
    padding-top: 60px;
    width: 380px;
    height: 300px;
}
.edit{
    align-items: center;
    text-align: center;
    position: relative;
}
.edit:before {
        content: "";
        display: block;
        width: 80px;
        height: 1px;
        background: #222;
        right: 10px;
        top: 8px;
        position: absolute;
}
.edit:after{
    content: "";
        display: block;
        width: 100px;
        height: 1px;
        background: #222;
        left:-10px ;
        top:09px;
        position: absolute;
}
.for-log-in p{
    padding-bottom: 10px;
    
}
.login p,
.login span,
.login a{
    font-family: 'Times New Roman', Times, serif;
    color:#333333;
    text-decoration: none;
}

.login a:hover{
    color:black;
    transition: .5s ease;
}

.for-log-in{
    margin: 80px;
    padding: 60px;
    padding-top: 0;
    padding-left: 150px;
}
.for-log-in label{
    font-family:'Courier New', Courier, monospace;
    padding: 10px;
    padding-left: 0;
}
.for-log-in input{
    padding: 5px;
    width: 300px;
}

.login-button{
    color: white;
    background-color: #5F9EA0;
    cursor: pointer;
    width: 90px;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    margin-left: 225px;
}

.login-button:hover{
    font-weight: bold;
    color: #5ACEF5;
    background-color: black;
    transition: 0.5s ease;
    border: 1px solid #5F9EA0;
}



/* Contact Page */

.glow-loc{
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    color:rgba(0, 255, 255, 0.8);
    background-color: black;
    
    text-shadow:0px 0px 14px cyan;
    height: 60px;
    padding-top: 10px;
    -moz-transition: all 0.2s ease-in infinite alternate;
    -o-transition: all 0.2s ease-in infinite alternate;
    -webkit-transition: all 0.2s ease-in infinite alternate;
    transition: all 0.4s ease-in infinite alternate;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 10px;
  }
  
  .glow-loc:hover {
    color:cyan;
    background-color: black;
    
    text-shadow:0px 0px 14px cyan;
    height: 60px;
    padding-top: 10px;
    -moz-transition: all 0.2s ease-in infinite alternate;
    -o-transition: all 0.2s ease-in infinite alternate;
    -webkit-transition: all 0.2s ease-in infinite alternate;
    transition: all 0.2s ease-in infinite alternate;
    text-align: center;
    
  }

.loc-div{
    border: 1px solid black;
    padding: 20px;
    width: 70%;
    margin-left: 200px;
    color: black;
    margin-bottom: 20px;
}

.offices{
    display: flex;
}

.office-box{
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
    margin-right:9px;
}
.loc-div iframe{
    padding-top: 4%;
    width: 100%;
    height:300px;
}


#form-details {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
    width: 60%;
    margin-left: 280px;
}


#form-details form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form input,
#form-details form textarea {
    width: 90%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}


/* user profile page */
.user-site h3{
    padding-bottom: 20px;
}
.user-site{
    padding-top: 100px;
    padding-right: 100px;
    border: 1px solid #015c75;
    height: 240px;
    padding: 20px;
    margin-top: 70px;
    border-radius: 30px;
    width: 40%;
}
.user-section{
    display: flex;
    width: 80%;
    height: 300px;
    padding: 50px;
    
}
.apply-heading{
    margin-left: 250px;
}


.bookmark-jobs h3{
    text-align: center;
}
.bookmark-jobs-divs{
    margin-left: 20px;
    margin-top: 40px;
    border:1px solid #015c75;
    width: 180%;
    height: 200px;
    margin-bottom: 40px;
    padding: 40px;
    border-radius: 30px;    
}

.bookmark-jobs-text{
    text-align: center;
    padding-top: 50px;
    font-weight: bold;
}

/* single job page */

.single-jobs-divs h5{
    padding-top: 20px;
}

.single-jobs-divs hr{
    width: 60%;
    color: #015c75;
    margin-left: 150px;
}

.single-jobs-divs{
    border:1px solid #015c75;
    width: 350%;
    padding: 40px;
    border-radius: 30px;  
    margin-left: 60px;
    margin-top: 80px;
    margin-right: 50px;
}

.img-side img{
    width:100%;
    height: 70%;
    margin-top: 60px;
    border-radius:10px;
}

.job-and-poster{
    display: flex;
}

.single-jobs-divs h5{
    text-align: center;

}
.single-jobs-divs p{
    text-align: center;
}

.glow-apply-btn{
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in infinite alternate;
    -o-transition: all 0.2s ease-in infinite alternate;
    -webkit-transition: all 0.2s ease-in infinite alternate;
    transition: all 0.4s ease-in infinite alternate;
    transition: all 0.2s ease-in;
    color:rgba(0, 255, 255, 0.8);
    background-color: black;
    border: 1px solid cyan;
    text-shadow:0px 0px 14px cyan;
    height: 60px;
    width: 120px;
    text-align: center;
    border-radius: 20px;
    margin-left: 700px;
    margin-top: 70px;
  }
  
  .glow-apply-btn:hover {
    color:white;
    background-color: black;
    border: 1px solid cyan;
    text-shadow:0px 0px 14px cyan;
    height: 60px;
    -moz-transition: all 0.2s ease-in infinite alternate;
    -o-transition: all 0.2s ease-in infinite alternate;
    -webkit-transition: all 0.2s ease-in infinite alternate;
    transition: all 0.2s ease-in infinite alternate;
    text-align: center;
  }

/*  */

.black{
    border: 1px solid red;
}


  /* pos a job page */

  #post-details {
    display: flex;
    justify-content: space-between; 
    margin: 30px;
    padding: 40px;
    border: 1px solid #e1e1e1;
    width: 60%;
    margin-left: 280px;
}
.for-flex{
    display: flex;
}

#post-details form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#post-details form input,
#post-details form textarea {
    width: 90%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}





/* For footer */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 20px;
}

footer .column {
    margin-top: 100px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 20px;
}

.logo-footer img{
    width: 3rem;
    margin-bottom: 8px;
    
}
footer .follow i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img {
    border: 1px solid #9ccdd9;
    border-radius: 6px;
}


footer .install img {
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
    color: #295c6a;
}

footer .copyright {
    width: 100%;
    text-align: center;
}
.follow:focus,
.follow:active{
    outline: none !important;
  -webkit-tap-highlight-color: transparent;
  
}
.wrapper {
    display: inline-flex;
    list-style: none;
  }
  
  .wrapper .icon {
    position: relative;
    background: #ffffff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: 22px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: 45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background: #1877F2;
    color: #ffffff;
  }
  
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    background: #1DA1F2;
    color: #ffffff;
  }
  
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background: #E4405F;
    color: #ffffff;
  }
  
  .wrapper .github:hover,
  .wrapper .github:hover .tooltip,
  .wrapper .github:hover .tooltip::before {
    background: #333333;
    color: #ffffff;
  }
  
  .wrapper .youtube:hover,
  .wrapper .youtube:hover .tooltip,
  .wrapper .youtube:hover .tooltip::before {
    background: #CD201F;
    color: #ffffff;
  }